body{
font-family: 'Poppins', sans-serif !important;
color: rgb(62, 249, 255) !important;
background-image: url(images/stars-964022.png) !important;
}

banner{
    font-size: 4em;
    text-shadow: 0px 0px 20px rgb(33, 211, 218);
}

img{
    width: 100% !important;
    height: 70% !important;
}